.container {
  max-width: 550px;
  margin: 35px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #d97904; /* orange */
  margin-bottom: 20px;
  font-size: 24px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group label {
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.btn-submit {
  background: #d97904; /* orange */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn-submit:hover {
  background: #c66d04;
}
