table {
  border: 1px solid black; /* 1px solid black border around the table */
}
th,
td {
  border: 1px solid grey; /* 1px solid grey border around table headers and data cells */
  padding: 8px; /* Add some padding for better readability */
}
th {
  background-color: orange;
  color: white;
}

.button-class {
  background-color: orange;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
