<router-outlet></router-outlet>
<div class="page-container">
    <div class="page-header">
        <h2>Requests</h2>

        <table id="main-table" class="text-center">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Manger's Name</th>
                <th>Type</th>
                <th>Approved By</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
            </tr>
            <tr>
                <td colspan="8">No Data</td>
            </tr>
        </table>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Requests Management</h5>
            <div class="d-flex gap-5 ">
                <a class="button-class" routerLink="/requests/leaves">Add Leave</a>
                <a class="button-class" routerLink="/requests/resignations">Add Resignation</a>
                <a class="button-class" routerLink="/requests/hrletters">Add HR Letter</a>
            </div>

        </div>
    </div>
</div>